@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');


:root {
    /* Primary Colors */
    --very-dark-blue: hsl(233, 47%, 7%);
    /* main background */
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    /* card background */
    --soft-violet: hsl(277, 64%, 61%);
    /* accent */
    --soft-violet-transparent: rgba(136, 44, 189, 0.55);
    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    /* main heading, stats */
    --slightly-transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
    /* main paragraph */
    --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
    /* stat headings */


    /* Font size */
    --font-size: 15px;

    /* Font family */
    --Inter-font: "Inter", sans-serif;
    --lexend-font: "Lexend Deca", sans-serif;

    /* Font-wheight */
    --weights-normal: 400;
    --weights-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--very-dark-blue);
    font-family: var(--Inter-font);
    display: flex;

}

.insight-container {
    background-color: var(--dark-desaturated-blue);
    color: white;
    max-width: 1020px;
    margin: auto;
    display: flex;
    border-radius: 10px;
    

}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    width: 50%; 
}

.insights-keyword {
    color: var(--soft-violet);
}


.right-container {
    position: relative;
    width: 50%; 
}

.insight-stat-container{
    display: flex;
    justify-content: space-between;
}
.insight-stat{
    display: flex;
    flex-direction: column;
}

.stat {
    font-size: 1.5rem;
    font-weight: var(--weights-bold);
}
.text {
    
    font-size: 0.925rem;
    text-transform: uppercase;
    margin-top: 10px;
}

.gray-text {
    color: var(--slightly-transparent-white-stat-headings);
}

.desktop{
    display: block;
}

.mobile {
    display: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var( --soft-violet-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; 
    
}


/* Mobile screens */
@media screen and (max-width:375px) {
   
            .insight-container {
                display: flex;
                flex-direction: column-reverse;
                 width: 80%;
                 
                
                 
            }
            .left-container {
                min-width: 100%;
                text-align: center;
                padding: 20px;
            }

            .right-container {
                width: 100%;
            }
            .desktop{
                display: none;
            }
            
            .mobile {
                display: block;
                width: 100%;
            }
            .title {
                font-size: 20px;
            }
            .insight-stat-container{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .description{
                margin-top: 20px;
            }
}

/* Tablette and other  devices  */
@media screen and (max-width:720px) {
   
    .insight-container {
        display: flex;
        flex-direction: column-reverse;
         width: 80%;
         
        
         
    }
    .left-container {
        min-width: 100%;
        text-align: center;
        padding: 20px;
    }

    .right-container {
        width: 100%;
    }
    .desktop{
        display: none;
    }
    
    .mobile {
        display: block;
        width: 100%;
    }
    .title {
        font-size: 20px;
    }
    .insight-stat-container{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .description{
        margin-top: 20px;
    }
}